body {
    background-image: url(a62.png);
}

#page {
    width: 900px;
    border: 3px solid black;
    margin: 10px auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto auto;
}

nav ul {
    list-style-type: none;
    margin: 10px 10px 10px 10px;
    padding: 0;
}

nav li {   
    width: 205px;
    margin-bottom: 20px;
    background-color: red;
    text-align: left;
    display: inline-block;  
}

nav li a {
    font-family: Helvetica;
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px; 
}

nav li a:hover {
    background-color: darkred;
}

h1 {
    font-family: Helvetica;
    font-weight: normal;
    color: white;
    background-color: black;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
}

h2 {
    font-family: Helvetica;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
    margin-top: 5px;
}

.float {
    float: left;
    border: 3px solid black;
    padding: 10px 10px 10px 10px;
    width: 410px;
    margin-right: 10px;
}

.bolded {
    font-family: Georgia;
    font-weight: bold;
    text-align: justify;
}

header {
    grid-column: span 12;
}
  
nav {
    grid-column: span 3;
}
  
main {
    grid-column: span 9;
    padding-right: 10px;
}
  
main a {
    text-decoration: none;
    font-weight: bold;
    color: red;
}

main a:hover {
    text-decoration: underline;
    color: blue;
}

footer {
    grid-column: span 12;
    clear: both;
    font-family: Verdana;
    font-style: italic;
    text-align: center;
    color: white;
    background-color: red;
    border-top: 3px solid black;
}